@media only screen and (min-width: 38rem) {
  /*************** PAGE LAYOUT ***************/
  body {
    max-width: 1200px;
    margin: 0 auto;
  }

  header,
  footer {
    margin: 0;
  }

  header {
    margin-bottom: 1rem;
  }

  /*************** NAVIGATION ***************/
  .hamburger {
    display: none;
  }

  nav {
    display: block;
    position: static;
    background-color: transparent;
    width: auto;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li a {
    color: var(--white);
    transition: background-color 0.3s;
  }

  nav li a:hover {
    background-color: var(--black);
    color: var(--white);
  }

  nav a[href='index.html'] {
    background-color: var(--black);
    color: var(--white);
  }

  /*************** MAIN CONTENT ***************/
  .home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .home-grid h1 {
    grid-column: 1 / -1;
    margin-block: 0.1rem;
  }

  .business-cards {
    grid-column: 1 / -1;
    grid-row: 3;
  }

  .business-cards img {
    width: 50px;
    height: 50px;
  }

  #hero {
    margin-top: -1rem;
    grid-column: 1 / -1;
  }

  .course-section {
    grid-column: 1 / -1;
  }

  /*************** FOOTER ***************/
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  /*************** COURSE CARDS ***************/
  .course-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  /*************** DIRECTORY VIEW ***************/
  .members {
    grid-template-columns: 1fr 1fr;
  }

  /*************** SPOTLIGHT ***************/
  #spotlight {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
